<a href="https://colab.research.google.com/github/Grecia1225/2025-26-4090-Grecia-AI-B-DS/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Download and save the dataset in the local drive
import pandas as pd
#url of dataset(sample csv dataset)
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/iris.csv"
#read dataset from url
df=pd.read_csv(url)
#display first few rows
print(df.head())
#save dataset to local drive
df.to_csv("iris.csv",index=False)
print("dataset saved successfully")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
dataset saved successfully

In [ ]:
#List
superstore=["metro",'tesco','walmart','kmart','carrefour']
print(superstore)
number_list=[4,4,6,7,2,9,10,15]
mixed_list=['cat',87.23,65,[9,7,3,3]]
print(type(mixed_list))
#list operations
list1=[3,5,7,1]
list2=[2,4,6,8]
print(list1+list2) #list concartination
print(list1*3)
print(list1==list2)
#string to list
quote='Hello World'
string_to_list=list(quote)
print(string_to_list)
# list indexing, slicing
print(list1[:2])
print(list1[-2:])
print(5 in list1)
print(11 in list1)
#list built-in functions
cars=['BMW','Audi','Mercedes','Toyota']
print(len(cars))
print(max(number_list))
print(min(number_list))
print(sum(number_list))
print(sorted(list1))
print(sorted(list1,reverse=True))
#list methods
cars.append('Tesla')
print(cars)
cars.insert(2,'Ford')
print(cars)
cars.remove('Tesla')
print(cars)
cars.pop()
print(cars)
#Nested list
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)
print(nested_list[1])
print(nested_list[1][2])

['metro', 'tesco', 'walmart', 'kmart', 'carrefour']
<class 'list'>
[3, 5, 7, 1, 2, 4, 6, 8]
[3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7, 1]
False
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
[3, 5]
[7, 1]
True
False
4
15
2
57
[1, 3, 5, 7]
[7, 5, 3, 1]
['BMW', 'Audi', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota']
['BMW', 'Audi', 'Ford', 'Mercedes']
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
6

In [ ]:
#Tuples
a=(1,2,3,4,5)
b=(6,7,8,9,10)
print(a+b)
print(a*3)
print(1 in a)
print(11 in a)
print(a[1:4])
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(sorted(a,reverse=True))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
(2, 3, 4)
5
5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#Sets
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))
print(a.issubset(b))
print(a.isdisjoint(b))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}
False
False

In [2]:
#Creating a dictionary
student = {
    "name": "Grecia",
    "age": 20,
    "course": "CSE"
}
print("Original Dictionary:", student)
#Accessing values
print("Name:", student["name"])              # using key
print("Age using get():", student.get("age"))
#Adding new key-value pair
student["grade"] = "A"
print("After Adding grade:", student)
#Updating value
student["age"] = 21
print("After Updating age:", student)
#Removing elements
student.pop("course")        # removes specific key
print("After pop():", student)
student.popitem()            # removes last inserted item
print("After popitem():", student)
#Adding again for further operations
student["course"] = "AI"
student["grade"] = "A+"
#Checking key existence
if "name" in student:
    print("Key 'name' exists")
#Looping through dictionary
print("\nLooping through keys:")
for key in student:
    print(key)
print("\nLooping through values:")
for value in student.values():
    print(value)
print("\nLooping through key-value pairs:")
for key, value in student.items():
    print(key, ":", value)
#Dictionary length
print("\nLength of dictionary:", len(student))
#Copying dictionary
student_copy = student.copy()
print("Copied Dictionary:", student_copy)
temp = student.copy()
temp.clear()
print("After clear():", temp)
student.update({"age": 22, "city": "Hyderabad"})
print("After update():", student)
students = {
    "s1": {"name": "Asha", "age": 19},
    "s2": {"name": "Rahul", "age": 20}
}
print("\nNested Dictionary:", students)
print("Access Nested Value:", students["s1"]["name"])
#Using keys(), values(), items()
print("\nKeys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())
#Creating dictionary using dict() constructor
new_dict = dict(id=101, dept="AI", year=2)
print("\nDictionary using dict():", new_dict)

Original Dictionary: {'name': 'Grecia', 'age': 20, 'course': 'CSE'}
Name: Grecia
Age using get(): 20
After Adding grade: {'name': 'Grecia', 'age': 20, 'course': 'CSE', 'grade': 'A'}
After Updating age: {'name': 'Grecia', 'age': 21, 'course': 'CSE', 'grade': 'A'}
After pop(): {'name': 'Grecia', 'age': 21, 'grade': 'A'}
After popitem(): {'name': 'Grecia', 'age': 21}
Key 'name' exists

Looping through keys:
name
age
course
grade

Looping through values:
Grecia
21
AI
A+

Looping through key-value pairs:
name : Grecia
age : 21
course : AI
grade : A+

Length of dictionary: 4
Copied Dictionary: {'name': 'Grecia', 'age': 21, 'course': 'AI', 'grade': 'A+'}
After clear(): {}
After update(): {'name': 'Grecia', 'age': 22, 'course': 'AI', 'grade': 'A+', 'city': 'Hyderabad'}

Nested Dictionary: {'s1': {'name': 'Asha', 'age': 19}, 's2': {'name': 'Rahul', 'age': 20}}
Access Nested Value: Asha

Keys: dict_keys(['name', 'age', 'course', 'grade', 'city'])
Values: dict_values(['Grecia', 22, 'AI', 'A+', 'Hyderabad'])
Items: dict_items([('name', 'Grecia'), ('age', 22), ('course', 'AI'), ('grade', 'A+'), ('city', 'Hyderabad')])

Dictionary using dict(): {'id': 101, 'dept': 'AI', 'year': 2}