<a href="https://colab.research.google.com/github/Grecia1225/2025-26-4090-Grecia-AI-B-DS/blob/main/24_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Descriptive statistic functions
data = {
    "Ages": [22,25,47,35,46,50,28,33,39,41],
    "Salaries": [3000,3200,5500,4000,5200,6000,3500,3700,4500,4800]
}
import pandas as pd
df = pd.DataFrame(data)
print("Summary statistics:\n", df.describe())
print("Mean", df.mean())
print("Median", df.median())
print("Mode", df.mode())
print("Standard deviation", df.std())
print("Variance", df.var())
print("Count", df.count())
print("Skewness", df.skew())
print("Kurtosis", df.kurt())

Summary statistics:
             Ages     Salaries
count  10.000000    10.000000
mean   36.600000  4340.000000
std     9.651713  1022.198067
min    22.000000  3000.000000
25%    29.250000  3550.000000
50%    37.000000  4250.000000
75%    44.750000  5100.000000
max    50.000000  6000.000000
Mean Ages          36.6
Salaries    4340.0
dtype: float64
Median Ages          37.0
Salaries    4250.0
dtype: float64
Mode    Ages  Salaries
0    22      3000
1    25      3200
2    28      3500
3    33      3700
4    35      4000
5    39      4500
6    41      4800
7    46      5200
8    47      5500
9    50      6000
Standard deviation Ages           9.651713
Salaries    1022.198067
dtype: float64
Variance Ages        9.315556e+01
Salaries    1.044889e+06
dtype: float64
Count Ages        10
Salaries    10
dtype: int64
Skewness Ages       -0.138915
Salaries    0.271889
dtype: float64
Kurtosis Ages       -1.287437
Salaries   -1.223068
dtype: float64

In [2]:

# Creating a sample dataset with missing values
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 35, 40, 28],
    'Salary': [50000, 60000, None, 70000, 62000],
    'Allowances': [2000, None, 2000, 2000, 2500]
}
df = pd.DataFrame(data)
print("Missing Values Count:\n", df.isnull().sum())
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].mean(), 'Allowances': 2000})
print("\nDataFrame after filling missing values:\n", df_filled)

Missing Values Count:
 Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

DataFrame after dropping missing values:
     Name   Age   Salary  Allowances
0  Alice  25.0  50000.0      2000.0
3  David  40.0  70000.0      2000.0
4    Eve  28.0  62000.0      2500.0

DataFrame after filling missing values:
       Name   Age   Salary  Allowances
0    Alice  25.0  50000.0      2000.0
1      Bob  32.0  60000.0      2000.0
2  Charlie  35.0  60500.0      2000.0
3    David  40.0  70000.0      2000.0
4      Eve  28.0  62000.0      2500.0

In [3]:
#IQR meethod
import pandas as pd
data={
    "name":['A','B','C','D','E','F'],
    "age":[13,24,25,120,23,22]
}
df=pd.DataFrame(data)
q1=df['age'].quantile(0.25)
q3=df['age'].quantile(0.75)
iqr=q3-q1
lower_bound=q1-1.5*iqr
upper_bound=q3+1.5*iqr
outliners=df[(df['age']upper_bound)]
print("outliners using IQR method")
print(outliners)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1140655291.py, line 13)

In [ ]:

# Data Distribution
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
normal_data = np.random.normal(loc=70, scale=5, size=1000)
right_skewed = np.random.exponential(scale=2, size=1000)
left_skewed = -np.random.exponential(scale=2, size=1000)
plt.hist(normal_data, bins=30)
plt.title("Normal Distribution")
plt.show()
plt.hist(right_skewed, bins=30)
plt.title("Right Skewed Distribution")
plt.show()
plt.hist(left_skewed, bins=30)
plt.title("Left Skewed Distribution")
plt.show()
print("Normal Data Mean:", np.mean(normal_data))
print("Normal Data Median:", np.median(normal_data))
print("Right Skewed Mean:", np.mean(right_skewed))
print("Right Skewed Median:", np.median(right_skewed))
print("Left Skewed Mean:", np.mean(left_skewed))
print("Left Skewed Median:", np.median(left_skewed))

In [ ]:

#Basic Data Analysis
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data = [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
        29, 30, 31, 32, 35, 38, 42, 45, 50]
mean_val = np.mean(data)
median_val = np.median(data)
print("Mean of the data:", mean_val)
print("Median of the data:", median_val)
if mean_val > median_val:
    print("Graph is right-skewed")
elif mean_val < median_val:
    print("Data is slightly left-skewed")
else:
    print("Data is symmetric")

In [ ]:

# Create DataFrame
data_dict = {
    "BMI": [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31, 32, 35, 38, 42, 45, 50]
}
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame(data_dict)
# Plot Histogram
plt.hist(df["BMI"], bins=6)
plt.title("BMI Data Distribution")
plt.xlabel("BMI Values")
plt.ylabel("Frequency")
plt.show()
# Statistics
print("Mean:", df["BMI"].mean())
print("Median:", df["BMI"].median())
print("Skewness:", df["BMI"].skew())