<a href="https://colab.research.google.com/github/Grecia1225/2025-26-4090-Grecia-AI-B-DS/blob/main/8_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#selection of data

#import pandas and create simple data
#selection particular column and rows
import pandas as pd
data={
    'ID':[101,102,103,104,105],
    'Name':['A','B','C','D','E'],
    'Age':[20,21,19,17,18],
    'marks':[85,78,92,88,90]
}
df=pd.DataFrame(data)
print(df)
print(df.loc[1:3,('Name','Age')])
print(df['marks'])
print(df.iloc[0:3, 1:4])
print(df.loc[2, 'marks'])
print(df[df['Age'] > 18])
print(df[['Name', 'marks']])
df['Passed'] = df['marks'] >= 80
print(df)
print(df.sort_values(by='marks', ascending=False))
print(df['marks'].mean())

    ID Name  Age  marks
0  101    A   20     85
1  102    B   21     78
2  103    C   19     92
3  104    D   17     88
4  105    E   18     90
  Name  Age
1    B   21
2    C   19
3    D   17
0    85
1    78
2    92
3    88
4    90
Name: marks, dtype: int64
  Name  Age  marks
0    A   20     85
1    B   21     78
2    C   19     92
92
    ID Name  Age  marks
0  101    A   20     85
1  102    B   21     78
2  103    C   19     92
  Name  marks
0    A     85
1    B     78
2    C     92
3    D     88
4    E     90
    ID Name  Age  marks  Passed
0  101    A   20     85    True
1  102    B   21     78   False
2  103    C   19     92    True
3  104    D   17     88    True
4  105    E   18     90    True
    ID Name  Age  marks  Passed
2  103    C   19     92    True
4  105    E   18     90    True
3  104    D   17     88    True
0  101    A   20     85    True
1  102    B   21     78   False
86.6

In [5]:
# filter data
filtered_age = df[df['Age'] > 18]
print(filtered_age)
filtered_marks = df[df['marks'] > 85]
print(filtered_marks)
filtered_multiple = df[(df['Age'] > 18) & (df['marks'] > 85)]
print(filtered_multiple)
filtered_or = df[(df['Age'] > 18) | (df['marks'] > 90)]
print(filtered_or)
filtered_loc = df.loc[df['marks'] >= 80, ['Name', 'marks']]
print(filtered_loc)
filtered_isin = df[df['Name'].isin(['A', 'C', 'E'])]
print(filtered_isin)

    ID Name  Age  marks  Passed
0  101    A   20     85    True
1  102    B   21     78   False
2  103    C   19     92    True
    ID Name  Age  marks  Passed
2  103    C   19     92    True
3  104    D   17     88    True
4  105    E   18     90    True
    ID Name  Age  marks  Passed
2  103    C   19     92    True
    ID Name  Age  marks  Passed
0  101    A   20     85    True
1  102    B   21     78   False
2  103    C   19     92    True
  Name  marks
0    A     85
2    C     92
3    D     88
4    E     90
    ID Name  Age  marks  Passed
0  101    A   20     85    True
2  103    C   19     92    True
4  105    E   18     90    True

In [6]:
#data manipulation
import pandas as pd
data = {
    'ID': [101, 102, 103, 104, 105],
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Age': [20, 21, 19, 17, 18],
    'Marks': [85, 78, 92, 88, 90]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nStudents with Age > 18:")
print(df[df['Age'] > 18])
print("\nStudents with Marks >= 85:")
print(df[df['Marks'] >= 85])
print("\nName and Marks:")
print(df[['Name', 'Marks']])
df.loc[df['Marks'] < 80, 'Marks'] = 80
print("\nUpdated Marks (minimum 80):")
print(df)
df['Result'] = df['Marks'] >= 80
print("\nAdded Result column:")
print(df)
print("\nSorted by Marks (Descending):")
print(df.sort_values(by='Marks', ascending=False))
print("\nAverage Marks:")
print(df['Marks'].mean())
print("\nMaximum Marks:")
print(df['Marks'].max())

Original DataFrame:
    ID Name  Age  Marks
0  101    A   20     85
1  102    B   21     78
2  103    C   19     92
3  104    D   17     88
4  105    E   18     90

Students with Age > 18:
    ID Name  Age  Marks
0  101    A   20     85
1  102    B   21     78
2  103    C   19     92

Students with Marks >= 85:
    ID Name  Age  Marks
0  101    A   20     85
2  103    C   19     92
3  104    D   17     88
4  105    E   18     90

Name and Marks:
  Name  Marks
0    A     85
1    B     78
2    C     92
3    D     88
4    E     90

Updated Marks (minimum 80):
    ID Name  Age  Marks
0  101    A   20     85
1  102    B   21     80
2  103    C   19     92
3  104    D   17     88
4  105    E   18     90

Added Result column:
    ID Name  Age  Marks  Result
0  101    A   20     85    True
1  102    B   21     80    True
2  103    C   19     92    True
3  104    D   17     88    True
4  105    E   18     90    True

Sorted by Marks (Descending):
    ID Name  Age  Marks  Result
2  103    C   19     92    True
4  105    E   18     90    True
3  104    D   17     88    True
0  101    A   20     85    True
1  102    B   21     80    True

Average Marks:
87.0

Maximum Marks:
92

In [7]:
import pandas as pd
data = {
    'Department': ['IT', 'HR', 'IT', 'HR', 'IT'],
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Age': [20, 21, 19, 22, 18],
    'Marks': [85, 78, 92, 88, 90]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
group_mean = df.groupby('Department')['Marks'].mean()
print("\nAverage Marks by Department:")
print(group_mean)
group_stats = df.groupby('Department')['Marks'].agg(['mean', 'max', 'min'])
print("\nMarks Statistics by Department:")
print(group_stats)
group_count = df.groupby('Department')['Name'].count()
print("\nStudent Count by Department:")
print(group_count)
group_multi = df.groupby(['Department', 'Age'])['Marks'].mean()
print("\nGrouped by Department and Age:")
print(group_multi)

Original DataFrame:
  Department Name  Age  Marks
0         IT    A   20     85
1         HR    B   21     78
2         IT    C   19     92
3         HR    D   22     88
4         IT    E   18     90

Average Marks by Department:
Department
HR    83.0
IT    89.0
Name: Marks, dtype: float64

Marks Statistics by Department:
            mean  max  min
Department
HR          83.0   88   78
IT          89.0   92   85

Student Count by Department:
Department
HR    2
IT    3
Name: Name, dtype: int64

Grouped by Department and Age:
Department  Age
HR          21     78.0
            22     88.0
IT          18     90.0
            19     92.0
            20     85.0
Name: Marks, dtype: float64

In [8]:
# Selection Sort Program
arr = [64, 25, 12, 22, 11]
n = len(arr)
for i in range(n - 1):
    min_index = i
    for j in range(i + 1, n):
        if arr[j] < arr[min_index]:
            min_index = j
    arr[i], arr[min_index] = arr[min_index], arr[i]
print("Sorted array:")
print(arr)

Sorted array:
[11, 12, 22, 25, 64]

In [9]:
# Bubble Sort Program
arr = [64, 34, 25, 12, 22, 11, 90]
n = len(arr)
for i in range(n - 1):
    for j in range(n - i - 1):
        if arr[j] > arr[j + 1]:
            # swap
            arr[j], arr[j + 1] = arr[j + 1], arr[j]
print("Sorted array:")
print(arr)

Sorted array:
[11, 12, 22, 25, 34, 64, 90]

In [10]:
# Linear Search Program
arr = [10, 25, 30, 45, 50]
key = 30
found = False
for i in range(len(arr)):
    if arr[i] == key:
        print("Element found at index:", i)
        found = True
        break
if not found:
    print("Element not found")

Element found at index: 2

In [11]:
# Binary Search Program
arr = [10, 20, 30, 40, 50, 60]
key = 40
low = 0
high = len(arr) - 1
found = False
while low <= high:
    mid = (low + high) // 2
    if arr[mid] == key:
        print("Element found at index:", mid)
        found = True
        break
    elif arr[mid] < key:
        low = mid + 1
    else:
        high = mid - 1
if not found:
    print("Element not found")

Element found at index: 3