<a href="https://colab.research.google.com/github/Grecia1225/2025-26-4090-Grecia-AI-B-DS/blob/main/code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# 1. Create some random data using NumPy
data = np.random.randn(5, 3)

# 2. Turn that data into a pretty table using Pandas
df = pd.DataFrame(data, columns=['Math', 'Science', 'AI'])

# 3. Show the table
print("Your first Data Table:")
df.head()

Your first Data Table:

       Math   Science        AI
0  0.001646  1.237473  0.359214
1 -0.094734 -0.274319 -0.117659
2 -1.520979 -0.409198 -0.750966
3  1.932194 -1.129099  0.551368
4  0.170590  0.494042 -0.530582